{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPUpgradeDemo_plugin",
  "copy": true,
  "targets": {
    "MPUpgradeDemo_plugin": {
      "author": "vivi.yw",
      "time": "2019/08/08 16:41:43",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.190531175323",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "MPMgsAdapter": "1.0.0.190619161346"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.190226125531"
        },
        "mPaaS_Log": {
          "MPMasAdapter": "1.0.0.190712115057",
          "APRemoteLogging": "1.0.0.190807172917",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190226124537",
          "AutoTracker": "1.0.0.190618111546",
          "MPPerformance": "1.0.0.190617115843",
          "TianYan": "1.0.0.190603103544",
          "MPDataCenter": "1.0.0.190603103544",
          "APCrashReporter": "1.0.0.190618111735"
        },
        "mPaaS_Upgrade": {
          "AliUpgradeCheckService": "1.0.0.190618143831",
          "AliUpgradeUI": "1.0.0.190618143831",
          "APMobileNetwork": "1.0.0.190531175323",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234",
          "APOpenSSL": "1.0.0.190226125531",
          "APRemoteLogging": "1.0.0.190807172917",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.190226124537",
          "APLongLinkService": "1.0.0.190613174001",
          "MPDataCenter": "1.0.0.190603103544",
          "MPMasAdapter": "1.0.0.190712115057",
          "AutoTracker": "1.0.0.190618111546",
          "MPPerformance": "1.0.0.190617115843",
          "TianYan": "1.0.0.190603103544",
          "APCrashReporter": "1.0.0.190618111735",
          "MPMgsAdapter": "1.0.0.190619161346"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.190603103544",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.190226202548",
          "AntUI": "1.0.0.190624200638",
          "AntUIShellForMpass": "1.0.0.190801135954",
          "MPBadgeService": "1.0.0.181024211440",
          "MPDataCenter": "1.0.0.190603103544",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.181024211440",
          "MPDataCenter": "1.0.0.190603103544",
          "mPaas": "1.0.0.190529102714",
          "APLog": "3.0.2.190701174234"
        }
      },
      "baseline": "10.1.60",
      "frameworks": [
        "APLog.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "mPaas.framework",
        "APOpenSSL.framework",
        "MPMgsAdapter.framework",
        "MPMasAdapter.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "AutoTracker.framework",
        "MPPerformance.framework",
        "TianYan.framework",
        "MPDataCenter.framework",
        "APCrashReporter.framework",
        "AliUpgradeCheckService.framework",
        "AliUpgradeUI.framework",
        "APLongLinkService.framework",
        "APCommonUI.framework",
        "Masonry.framework",
        "AntUI.framework",
        "MBProgressHUD.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework"
      ],
      "resources": [
        "APMobileNetwork.bundle",
        "AliUpgradeCheckService.bundle",
        "AliUpgradeUI.bundle",
        "APCommonUI.bundle",
        "MPBadgeService.bundle"
      ]
    }
  },
  "recent": "MPUpgradeDemo_plugin"
}